.menu{
	background-color: Pink;
	overflow: Hidden;
}

.menu a{
	float: left;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}