h1{
	font-family:'WillyWonka';
	font-weight:900px;
	color: white;
}



.jumbotron{
	background-color:#470710;
	margin-top:70px;
}

@font-face{
	font-family: WillyWonka;
	src: url('Fonts/WillyWonka.woff');
}

@font-face{
	font-family: HarryP;
	src: url('Fonts/HarryP.woff');
}

@font-face{
	font-family: lumos;
	src: url('Fonts/lumos.woff');
}

body{
	background-color: #F5F5F5;
}


.nav-link{
	color: #470710;
}

.card-group{
	padding-top:50px;
	width:99%;
}

.deals{
	height:200px;
	width:80%;
	background-color: #470710;
	padding-top:35px;
	margin-top:25px;
	margin-left:10%;
	border-radius: 10px;
	border: 2px solid black;
	margin-bottom: 20px;
}

.deals p{
	font-size:35px;
	font-weight:bold;
	color: white;
}
.dealbutton{
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
}
.dealbutton:hover{
	box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 gray;
	border: 1px solid white;
}

#form{
	margin-left:30%;
}
h5{
	font-family:'HarryP';
	font-size:35px;
	font-weight:500;
}

.badge{
	background-color: #470710;
}

.nav{
	margin:50px;
	border-top: 1px solid black;
}

button{
	margin-top:10px;
}